<div class="container page-container">

<h1>Cliques you're not in yet</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Started by</th>
      <th>Want in?</th>
    </tr>
  </thead>

  <tbody>
    <% @unjoined_cliques.each do |clique| %>
      <tr>
        <td><%= clique.name %></td>
        <td><%= clique.queen_bee.name_with_initial %></td>
        <td><%= link_to 'Join', join_clique_path(clique)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Start a new clique', new_clique_path, class: "btn btn-primary" %>

</div>