<div class="container">
	
	<h1 class="text-center margin-below">Slambook</h1>

	<div class="center-block">
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg", id: "sign-up" %>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg", id:"log-in" %>
	</div>

</div> <!--end container div-->