<div class="container page-container">
	<h1 class="text-center">Add your own page!</h1>

	<%= render 'form' %>

	<div class="pull-right arrow">
		<%= link_to slambook_path(@slambook) do %>
			<%= image_tag "arrow-next.png" %>
		<% end %>
	</div>

</div>
