<div class="container page-container">

<h1 class="super-huge text-center"><%= @slambook.clique.name %></h1>
<h1 class="super-huge text-center">Slambook</h1>


<div class="pull-right arrow">
	<%= link_to page_path(@first_page) do %>
		<%= image_tag "arrow-next.png" %>
	<% end %>
</div>

<%#= link_to 'New Page', new_page_path(slambook_id: @slambook.id) %>

</div>