/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets"; 
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "variables";


/* * * * * * * * * * GLOBAL STYLES * * * * * * * * * */


body {
	background: url(image-path("rainbow-stars.jpg")) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	height: 100%;
	position: relative;
	color: black;
}

.page-container {
	background-color: white;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	border-radius: 15px;
	height: 100%;
	position: relative;
}

.content {
	padding-bottom: 50px;
	padding-top: 120px;
	height: 100%;
	position: relative;
}

.alert-info {
	border: none;
	background-color: black;
	color: white;
	border-radius: 15px;
}

.close {
	opacity: 1;
	text-shadow: none;
	&:hover {
		color: $pink;
		opacity: 1;
	}
}

.btn-primary {
	background-color: $pink;
	color: white !important;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 24px;
	border: none;
	letter-spacing: 1px;
	&:hover {
		background-color: $plum;
		border: none;
	}
}

.btn-default {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 24px;
	letter-spacing: 1px;
}

h1 {
	font-size: 48px;
	margin-bottom: 30px;
	margin-top: 60px;
}

h1, h2, h3 {
	font-family: 'Gloria Hallelujah', cursive;
}

.devise-h2 {
	margin-bottom: 30px;
}

p {
	font-size: 18px;
	font-family: 'Gloria Hallelujah', cursive;
	line-height: 2;
}

th {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 18px;
}

.gap-below {
	margin-bottom: 50px !important;
}

.margin-below {
	margin-bottom: 20px;
}

.margin-right {
	margin-right: 15px;
}

.margin-left {
	margin-left: 15px;
}

.brand-font {
	font-family: 'Gloria Hallelujah', cursive;
}

.list {
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
		margin-left: 20px;
	}
	span {
		margin-left: 10px;
	}
}

.fa-star {
	font-size: 12px;
	margin-right: 15px;
}

a, a:active, a:hover, a:visited {
	color: black;
}

a:hover  {
	color: black;
	text-decoration: none;
	border-bottom: solid 2px $plum;
}

.super-huge {
	font-size: 84px;
	font-size: 96px;
	font-family: 'Knewave', cursive;
}

.pink-hover:hover {
	color: $pink;
	border: none;
}

/* * * * * * * * * * NAV BAR * * * * * * * * * */

.navbar {
	border: none;
	background: black;
	/*.container {
		background-color: black;
		padding-bottom: 0;
	}*/
	.dropdown-toggle {
		font-size: 16px;
		margin-left: 20px;
		color: white;
		text-transform: uppercase;
	}
	.dropdown-menu a {
		color: white;
	}
	span {
		margin-left: 10px;
	}
	a, a:visited {
		color: white;
		text-decoration: none;
	}
	a:hover {
		color: $pink;
		border: none;
	}
}

.navbar-right.navbar-text {
	margin-top: 20px;
}

#nav-brand {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 24px;
	letter-spacing: 3px;
	 a {
	 	color: white;
	 }
	 a:hover {
	 	color: white;
	 }
}

.dropdown-menu {
	background-color: black;
}

.dropdown-menu > li > a:hover {
	background-color: black;
	color: $pink;
}


/* * * * * * * * * * LANDING PAGE * * * * * * * * * */

 .home-page {
 	nav {
 		display: none;
 	}
	h1 {
	  	margin-top: 100px;
	  	margin-top: -30px;
	  	/*font-size: 140px;*/
	  	font-size: 200px;
	  	color: white;
	  	letter-spacing: 6px;
	  	font-family: 'Knewave', cursive;
	  	text-shadow: rgba(0, 0, 0, 0.580392) 0px 8px 8px;
	  	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 	100px #ff00de, 0 0 150px #ff00de;
	  	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
	  }
	  .btn {
	  	width: 300px;
	  	margin: 3px 20px;
	  	border-radius: 0;
	  	border: none;
	  	padding: 20px 10px;
	  	font-size: 30px;
	  	letter-spacing: 2px;
	  	font-family: 'Knewave', cursive;
	  	color: #b89fc9;
	  	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
	  	box-shadow: 0 0 20px #fff;
	  	&:hover {
	  		background-color: white;
	  		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	  	}
	  }
	  .center-block {
	  	width: 700px;
	  	margin-top: 100px;
	  }
	  #sign-up {
	  }
	  footer {
	  	display: none;
	  }
 }

#home-label {
	width: 70%;
	margin: 100px auto;
}


/* * * * * * * * * * HANDWRITING * * * * * * * * * */

.pink-text {
	color: $pink;
	font-family: 'Waiting for the Sunrise', cursive;
}

.orange-text {
	color: $orange;
	font-family: 'Gloria Hallelujah', cursive;
}

.yellow-text {
	color: $yellow;
	font-family: 'Indie Flower', cursive;
}

.green-text {
	color: $green;
	font-family: 'Waiting for the Sunrise', cursive;
}

.blue-text {
	color: $blue;
	font-family: 'Gloria Hallelujah', cursive;
}

.purple-text {
	color: $purple;
	font-family: 'Indie Flower', cursive;
}

.pink-reg {
	color: $pink;
}


/* * * * * * * * * * SLAMBOOK SINGLE PAGE * * * * * * * * * */

.pages-page {
	body {
		padding: 50px 100px;
	}
	.container {
		padding-right: 50px;
		padding-left: 50px;
	}
	h1 {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	.entries p {
		font-size: 20px;
		line-height: 2;
		margin-bottom: 40px;
	}
	textarea {
		font-family: 'Waiting for the Sunrise', cursive;
		font-size: 20px;
	}
}

#anonymous-checkbox {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 18px;
}

.arrow {
	margin-top: 50px;
	img {
		width: 150px;
	}
	a:hover {
		border: none;
	}
}

/* * * * * * * * * * RANDOM TIDBITS * * * * * * * * * */


.edit-link {
	font-size: 14px;
}

h1 .glyphicon-pencil {
	font-size: 16px;
	position: relative;
	top: -25px;
}

.glyphicon-trash {
	display: none;
}

.deleteable-entry:hover {
		.glyphicon-trash, .glyphicon-pencil {
			display: inline-block;
			font-size: 16px;
			color: #AAAAAA;
			&:hover {
				color: $pink;
			}
		}
}

.users-page {
	.page-container {
		p {
			margin-bottom: 25px;
		}
	}
}

footer {
	background: black;
	color: white;
	padding: 10px 20px;
	padding: 10px 0;
	font-size: 16px;
	font-family: 'Gloria Hallelujah', cursive;
	a, a:active, a:hover, a:visited {
		text-decoration: none;
	}
	a, a:visited {
		color: white;
	}
	.glyphicon {
		font-size: 14px;
	}
}

/* * * * * * * * * *  ERROR PAGE * * * * * * * * * */

.errors-html {
	height: 100%;
	  background: url(image-path("as_if.png")) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 body {
	 	height: auto;
	 	background: transparent;
	 }
	 .content {
	 	padding-top: 250px;
	 }
	 h1 {
	 	color: white;
	 	font-size: 86px;
	 	font-family: 'Knewave', cursive;
	 	span {
		 	color: $pink;
		 }
	 }
	 footer {
	 	display: none;
	 }
}
