/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"; 
@import "bootstrap";

html {
	background: url(image-path("cheetah-bg.jpg")) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	height: 100%;
}

body {
	background: white;
	margin: 50px;
	padding: 50px;
	border-radius: 15px;
	sheight: 100%;
}

 .home-page {
	background: url(image-path("cheetah-bg.jpg")) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	body {
	  	background-color: transparent;
	  }
	h1 {
	  	margin-top: 150px;
	  	font-size: 140px;
	  	color: white;
	  	font-family: 'Rock Salt', cursive;
	  	text-shadow: rgba(0, 0, 0, 0.580392) 0px 8px 8px;
	  }
	  .btn {
	  	width: 300px;
	  	margin: 3px 20px;
	  	border-radius: 0;
	  	padding: 20px 10px;
	  	font-size: 30px;
	  	font-weight: 600;
	  	font-family: 'Rock Salt', cursive;
	  	box-shadow: rgba(0, 0, 0, 0.580392) 0 10px 10px;
	  	color: #FF479E;
	  }
	  .center-block {
	  	width: 700px;
	  	margin-top: 100px;
	  }
	  #sign-up {
	  	background-color: #FF479E;
	  	border: #FF479E;
	  	color: white;
	  	&:hover {
	  		background-color: #E6408E;
	  	}
	  }
 }

#home-label {
	width: 70%;
	margin: 100px auto;
}